<!DOCTYPE html>
<html>
    <head>
        <title>Derpstack</title>
        <link href="{{ url_for("static", filename="css/bootstrap.min.css") }}"
            type="text/css" rel="stylesheet" media="screen" />
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{{ url_for("index") }}">
                        Derpstack
                    </a>
                </div>
            </div>
        </div>
        <div class="span8 offset2">
            <div class="hero-unit">
                <h1>Derpstack</h1>
                <p>Leveraging open cloud platforms, high availability compute
                clusters, and platform vendor services as a service.</p>
            </div>
            {% for story in d.stories %}
            <div class="well">
                <blockquote>
                    <p>{{ story.body }}</p>
                    <small>{{ story.teller }} ~ {{ story.date }}</small>
                </blockquote>
            </div>
            {% endfor %}
            <hr />
            <div>
                <footer>&copy; Corbin Simpson 2012</footer>
            </div>
        </div>
    </body>
</html>
